*.log
.vscode
dist/*
build/*
__pycache__
mainwindow.spec
ui_mainwindow.py
icons_rc.py
csv_rc.py
ui_page_NaJia.py
ui_page_NaZi.py
ui_page_LingGui8.py
ui_page.py
ui_output.py
ui_feiteng_linggui_display.py
ui_linggui_single.py
ui_feiteng_custom.py
ui_feiteng_linggui_custom.py
ui_linggui_custom.py
ui_najia_nazi_time_acupoint.py
ui_feiteng_linggui_time_acupoint.py
ui_feiteng_single.py
ui_najia_nazi_display.py
*.app*
pysidedeploy.spec
ui_loading.py
